<h1>This are the Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <h2> <%= link_to(restaurant.name, restaurant_path(restaurant)) %> </h2>
  <p> <%= restaurant.address %></p>
  <p> <%= restaurant.phone_number %></p>
  <p> <%= restaurant.category.capitalize %></p>
  <% if restaurant.reviews.length > 0 %>
     <p> Average Rating: <%= restaurant.average %> </p>
  <% else %>
    <p> No Reviews yet </p>
  <% end %>
<% end %>

 <%= link_to 'New Restaurant', new_restaurant_path(@restaurant), class: "btn btn-primary" %>
